html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.startButton, .optionButton1, .optionButton2, .optionButton3 { 
  background-color: #d2b4de;
  width: 300px;
  border: none;
  color: white;
  padding: 10px 60px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  transition: all 0.4s;
  border-radius: 25px;
}


.startButton:hover, .optionButton1:hover, .optionButton2:hover, .optionButton3:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 28px;
}
